* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background: url('../img/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Abel', sans-serif;
	/*font-family:'Open Sans',Sans-serif, Arial, Helvetica;*/
}


.github
{

	text-align: center;
	
}


.github img
{
	width: 5%; 


}

.logo_pdf img
{
	width: 30%;
}







footer{
	width: 100%;
	height: 30%;
	position: relative;
	bottom: .6em;
	padding: 1%;
	margin-top: 7%;
	opacity: .8;

	float: left;
	list-style: none;
	text-align: center;

}

footer ul li{

	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 200;
	
	font-size: .7em;
	padding-right: 6%;
	padding-left: 6%;


	list-style: none;
}

footer ul li h6{

	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 200;
	
	font-size: 1em;
	padding-right: 6%;
	padding-left: 6%;

	color: rgba(120,120,120);
	list-style: none;
}


.ver_ultimas_index{
	z-index: 999999999999999999;
	position:absolute;
	left: 5%
	top:35%
	padding-bottom: 2%;

	background-color: rgba(20,20,20,.6);
	border-radius: 20px;
	width: 100%;
	margin: auto;
}






.contenedor {
	width: 90%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items:center;
}

.tarjeta {
	margin:40px 0;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
	opacity: .9;
	
}

/* --------------------------------------- */
/* ----- Slider Banner */
/* --------------------------------------- */

.slider_banner {
	overflow: hidden;
	z-index: 1000;
	position: relative;
}

.slider_banner .flecha-banner {
	font-size: 35px;
	line-height: 35px;
	color: rgba(200,200,200,.9);
	position: absolute;
	top:50%;
	z-index: 1100;
}

.slider_banner .flecha-banner:hover {
	color: rgba(0,0,0,.5);
}



/* --------------------------------------- */
/* ----- Slider Info */
/* --------------------------------------- */

.slider_info {
	text-align: center;
	overflow: hidden;
	padding: 20px 0;

	z-index: 1000;
	position: relative;
}

/* Seccion Informacion */

.slider_info .informacion {
	width: 100%;
	font-family: 'Thasadith', sans-serif;
}

.slider_info .informacion article {
	width: 100%;

	overflow: hidden;
	position: relative;
}

.slider_info .informacion article .slide{
	background: #fff;
	width: 100%;
	left: 100%;
	padding: 20px 80px;
	position: absolute;
}

h1  {

	width: 100%;
	font-size: 1.2em;

	letter-spacing: .2em;
	
	left:0;
	color: black;
	
	
	font-family: 'Thasadith', sans-serif;

	padding-top: 1%;
	padding-bottom: 7%;

}

/* Slider Flechas */

.slider_info .flecha-info {
	font-size: 35px;
	line-height: 35px;

	color: #e6e6e6;
	position: absolute;
	top:50%;
	z-index: 1000;
}

.slider_info .flecha-info:hover {
	color:#6ed279;
}

.slider_info .flecha-info.anterior {
	left: 20px;
}

.slider_info .flecha-info.siguiente {
	right: 20px;
}


/* Estilos para los Slide de Info */


.slider_info .informacion .trabajo {
	color: #55acee;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}

.slider_info .informacion .pais {
	color: #8d8d8d;
	font-family: 14px;
	line-height: 14px;
}

.slider_info .informacion .pais img {
	position: relative;
	top:1px;
	margin-right: 10px;
	width: 3%
}

.slider_info .informacion .texto {
	color: #55acee;
	font-size: 18px;
	line-height: 1.5em;
	text-decoration:none; 
}

.slider_info .informacion .texto_especial:hover{
	color: #51acee;	
}

.slider_info .informacion .subtitulo {
	color: #444444;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
}



@media(max-width: 600px){

.logo_pdf img
{
	width: 60%;
}



.github img
{
	width: 15%; 


}



.contenedor {
	width: 95%;
	max-width: 800px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items:center;
}

.tarjeta {
	margin:20px 0;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	z-index: 1000;
	opacity: .9;
	
}

	.slider_info .informacion .pais img {
	position: relative;
	top:1px;
	margin-right: 13px;
	width: 3%
}

.slider_info .informacion .texto {
	color: #55acee;
	font-size: 13px;
	line-height: 20px;
}

.slider_info .informacion .subtitulo {
	color: #444444;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 10px;
}
}