* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background: url('../img/0.jpg');
	background-size: cover;
	background-attachment: fixed;
	*/ font-family: 'Abel', sans-serif;
	font-family: 'Open Sans',Sans-serif, Arial, Helvetica;
	*/
}


@import url("https://fonts.googleapis.com/css?family=Varela+Round");


header {
	position:absolute;
	z-index: 100;
	width:50%;
	background-color: #181818;
	opacity:35%;
	margin-bottom:5%;;	
	margin-left: 25%;
}

header:hover {
	position: fixed;
	z-index: 100;
	width: 50%;
	background-color: #181818;
	opacity: 100%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 720px;
	margin: 0 auto;
	list-style: none;
}

.menu li {
	width: 125px;
	height: 50px;
	transition: background-position-x 0.9s linear;
	text-align: center;
}

	.menu li a {
		font-size: 18px;
		color: #777;
		text-decoration: none;
		transition: all 0.45s;
	}

.menu li:hover {
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
	-webkit-animation: line 1s;
	animation: line 1s;
}


@-webkit-keyframes line {
	0% {
		background-position-x: 390px;
	}
}



.curso_dataScience {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_plsql {
	color: #089898;
	margin-top:-10px;
	padding-bottom: 2%;

}

.curso_git {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_linux {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_docker {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_spark {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_hadoop {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_sparkhadoop {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_dask {
	color: #089898;
	margin-top: -10px;
	padding-bottom: 2%;
}

.curso_pyspark {
	color: #089898;
	margin:-10px;
	padding-bottom: 2%;

}



.curso_dataScience:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_plsql:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_git:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_linux:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_docker:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_spark:hover {
	color: #55acee;
	
	font-size: 1.5em;
}

.curso_hadoop:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_sparkhadoop:hover {
	color: #55acee;
	font-size: 1.5em;
}

.curso_dask:hover {
	color: #55acee;
	font-size: 1.5em;

}

.curso_pyspark:hover {
	color: #55acee;
	font-size: 1.5em;

}



.logo_dh img {
	width: 5%;
	border-radius: 45%;
	padding-bottom: 3.5%;
	margin-top: .5em;
}

	.logo_dh img:hover {
		width: 5%;
		border-radius: 5%;
		padding-bottom: 3.5%;
		margin-top: .5em;
	}





.logo_udemy img {
	width: 5%;
	border-radius: 45%;
	padding-bottom: 3.5%;
	margin-top: .5em;
}

	.logo_udemy img:hover {
		width: 5%;
		border-radius: 5%;
		padding-bottom: 3.5%;
		margin-top: .5em;
	}





.logos {
	margin-left: 45%;
	margin-bottom: 7%;
}


.github {
	width: 45%;
}

	.github img {
		width: 20%;
		opacity: .2;
		padding: .9%;
		float: left;
		text-align: center;
	}


		.github img:hover {
			padding: .1%;
			opacity: 1;
		}


.docker {
	width: 45%;
}


	.docker img {
		width: 20%;
		opacity: .2;
		padding: 2.5%;
		border-radius: 65%;
		float: left;
		text-align: center;
	}


		.docker img:hover {
			padding: 1.9%;
			opacity: 1;
			border-radius: 65%;
		}




.linkedin {
	width: 45%;
}

	.linkedin img {
		width: 20%;
		opacity: .2;
		padding: 2.5%;
		border-radius: 65%;
		float: left;
		text-align: center;
	}


		.linkedin img:hover {
			padding: 1.9%;
			opacity: 1;
			border-radius: 65%;
		}

.logo_pdf img {
	width: 10%;
	padding: 1%;
}


	.logo_pdf img:hover {
		padding: .1%;
	}


.modeloproperatti {
	color: #089898;
	padding: 1%;
}

	.modeloproperatti:hover {
		color: #55acee;
		padding: 1%;
	}


footer {
	width: 100%;
	height: 30%;
	position: relative;
	bottom: .6em;
	padding: 1%;
	margin-top: 7%;
	opacity: .8;
	float: left;
	list-style: none;
	text-align: center;
}

	footer ul li {
		font-family: 'Nanum Gothic', sans-serif;
		font-weight: 200;
		font-size: .7em;
		padding-right: 6%;
		padding-left: 6%;
		list-style: none;
	}

		footer ul li h6 {
			font-family: 'Nanum Gothic', sans-serif;
			font-weight: 200;
			font-size: 1em;
			padding-right: 6%;
			padding-left: 6%;
			color: rgba(120,120,120);
			list-style: none;
		}


.ver_ultimas_index {
	z-index: 999999999999999999;
	position: absolute;
	left: 5% top:35% padding-bottom: 2%;
	background-color: rgba(20,20,20,.6);
	border-radius: 20px;
	width: 100%;
	margin: auto;
}






.contenedor {
	width: 90%;
	max-width: 700px;
	opacity: .9;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.tarjeta {
	margin: 40px 0;
	width: 100%;
	max-height:85%;
	background: #121212;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
	opacity: 1;
}

	.tarjeta:hover {
		margin: 40px 0;
		width: 100%;
		background: #121212;
		border-radius: 4px;
		overflow: hidden;
		z-index: 1000;
	}


/* --------------------------------------- */
/* ----- Slider Banner */
/* --------------------------------------- */

.slider_banner {
	overflow: hidden;
	z-index: 1000;
	position: relative;
}

	.slider_banner .flecha-banner {
		font-size: 35px;
		line-height: 35px;
		color: rgba(200,200,200,.9);
		position: absolute;
		top: 50%;
		z-index: 1100;
	}

		.slider_banner .flecha-banner:hover {
			color: rgba(0,0,0,.5);
		}



/* --------------------------------------- */
/* ----- Slider Info */
/* --------------------------------------- */

.slider_info {
	text-align: center;
	overflow: hidden;
	padding: 20px 0;
	z-index: 1000;
	position: relative;
}

	/* Seccion Informacion */

	.slider_info .informacion {
		width: 100%;
		font-family: 'Thasadith', sans-serif;
	}

		.slider_info .informacion article {
			width: 100%;
			overflow: hidden;
			position: relative;
		}

			.slider_info .informacion article .slide {
				background: #121212;
				width: 100%;
				left: 100%;
				padding: 20px 80px;
				position: absolute;
			}

h1 {
	width: 100%;
	font-size: 1.2em;
	letter-spacing: .2em;
	left: 0;
	color: #55acee;
	font-family: 'Thasadith', sans-serif;
	padding-top: 1%;
	padding-bottom: 7%;
}

/* Slider Flechas */

.slider_info .flecha-info {
	font-size: 35px;
	line-height: 35px;
	color: #e6e6e6;
	position: absolute;
	top: 50%;
	z-index: 1000;
}

	.slider_info .flecha-info:hover {
		color: #6ed279;
	}

	.slider_info .flecha-info.anterior {
		left: 20px;
	}

	.slider_info .flecha-info.siguiente {
		right: 20px;
	}


/* Estilos para los Slide de Info */


.slider_info .informacion .trabajo {
	color: #55acee;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}

.slider_info .informacion .pais {
	color: #16807B;
	font-family: 14px;
	line-height: 14px;
}

	.slider_info .informacion .pais img {
		position: relative;
		top: 1px;
		margin-right: 10px;
		width: 3%
	}

.slider_info .informacion .texto {
	color: #089898;
	font-size: 1em;
	line-height: 1.5em;
	text-decoration: none;
}


.slider_info .informacion .texto_especial:hover {
	color: #51acee;
}

.slider_info .informacion .subtitulo {
	color: #089898;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: .5em;
}





@media(max-width: 600px) {

	.logo_pdf img {
		width: 30%;
	}






	.contenedor {
		width: 95%;
		max-width: 800px;
		margin: auto;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.tarjeta {
		margin: 20px 0;
		width: 100%;
		background: black;
		border-radius: 2px;
		overflow: hidden;
		z-index: 1000;
		opacity: 1;
		border-color: #202020;
	}

	.slider_info .informacion .pais img {
		position: relative;
		top: 1px;
		margin-right: 13px;
		width: 7%
	}

	.slider_info {
		width: 100%;
	}

		.slider_info .informacion .texto {
			font-size: .87em;
			line-height: .95em;
			padding-top: .1em;
			width: 100%;
			text-align: center;
		}


		.slider_info .informacion .subtitulo {
			font-size: 1em;
			line-height: 14px;
		}

	#contenedor {
		padding: 0;
		margin: 0;
	}

	header {
		position: fixed;
		z-index: 100;
		width: 90%;
		background-color: #181818;
		opacity: 90%;
		margin-bottom: 5%;
	}

		header:hover {
			position: fixed;
			z-index: 100;
			width: 90%;
			background-color: #181818;
			opacity: 100%;
			margin-bottom: 5%;
		}


	.menu li a {
		font-size: 12px;
		color: #777;
		text-decoration: none;
		transition: all 0.45s;
	}

}
